Desgo_Xamarin/Desgo_Xamarin/Desgo_Xamarin.UWP/Connected Services/ServiceDesgo/WSGestionUsuario.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://servicios.desgo.com.ec/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="WSGestionUsuario" targetNamespace="http://servicios.desgo.com.ec/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/DESGOWebService/WSGestionUsuario?xsd=1" namespace="http://servicios.desgo.com.ec/" />
    </xsd:schema>
  </types>
  <message name="login">
    <part name="parameters" element="tns:login" />
  </message>
  <message name="loginResponse">
    <part name="parameters" element="tns:loginResponse" />
  </message>
  <message name="registrarFormulario">
    <part name="parameters" element="tns:registrarFormulario" />
  </message>
  <message name="registrarFormularioResponse">
    <part name="parameters" element="tns:registrarFormularioResponse" />
  </message>
  <message name="Validar">
    <part name="parameters" element="tns:Validar" />
  </message>
  <message name="ValidarResponse">
    <part name="parameters" element="tns:ValidarResponse" />
  </message>
  <message name="Registrar">
    <part name="parameters" element="tns:Registrar" />
  </message>
  <message name="RegistrarResponse">
    <part name="parameters" element="tns:RegistrarResponse" />
  </message>
  <message name="registrarUser">
    <part name="parameters" element="tns:registrarUser" />
  </message>
  <message name="registrarUserResponse">
    <part name="parameters" element="tns:registrarUserResponse" />
  </message>
  <portType name="WSGestionUsuario">
    <operation name="login">
      <input wsam:Action="http://servicios.desgo.com.ec/WSGestionUsuario/loginRequest" message="tns:login" />
      <output wsam:Action="http://servicios.desgo.com.ec/WSGestionUsuario/loginResponse" message="tns:loginResponse" />
    </operation>
    <operation name="registrarFormulario">
      <input wsam:Action="http://servicios.desgo.com.ec/WSGestionUsuario/registrarFormularioRequest" message="tns:registrarFormulario" />
      <output wsam:Action="http://servicios.desgo.com.ec/WSGestionUsuario/registrarFormularioResponse" message="tns:registrarFormularioResponse" />
    </operation>
    <operation name="Validar">
      <input wsam:Action="http://servicios.desgo.com.ec/WSGestionUsuario/ValidarRequest" message="tns:Validar" />
      <output wsam:Action="http://servicios.desgo.com.ec/WSGestionUsuario/ValidarResponse" message="tns:ValidarResponse" />
    </operation>
    <operation name="Registrar">
      <input wsam:Action="http://servicios.desgo.com.ec/WSGestionUsuario/RegistrarRequest" message="tns:Registrar" />
      <output wsam:Action="http://servicios.desgo.com.ec/WSGestionUsuario/RegistrarResponse" message="tns:RegistrarResponse" />
    </operation>
    <operation name="registrarUser">
      <input wsam:Action="http://servicios.desgo.com.ec/WSGestionUsuario/registrarUserRequest" message="tns:registrarUser" />
      <output wsam:Action="http://servicios.desgo.com.ec/WSGestionUsuario/registrarUserResponse" message="tns:registrarUserResponse" />
    </operation>
  </portType>
  <binding name="WSGestionUsuarioPortBinding" type="tns:WSGestionUsuario">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="login">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="registrarFormulario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="Validar">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="Registrar">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="registrarUser">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="WSGestionUsuario">
    <port name="WSGestionUsuarioPort" binding="tns:WSGestionUsuarioPortBinding">
      <soap:address location="http://localhost:8080/DESGOWebService/WSGestionUsuario" />
    </port>
  </service>
</definitions>