Desgo_Xamarin/Desgo_Xamarin/Desgo_Xamarin.Android/Web References/AmazonDesgoWebService/WSGestionUsuario.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://servicios.desgo.com.ec/" targetNamespace="http://servicios.desgo.com.ec/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Registrar" type="tns:Registrar" />
  <xs:element name="RegistrarResponse" type="tns:RegistrarResponse" />
  <xs:element name="Validar" type="tns:Validar" />
  <xs:element name="ValidarResponse" type="tns:ValidarResponse" />
  <xs:element name="buscarPersona" type="tns:buscarPersona" />
  <xs:element name="buscarPersonaResponse" type="tns:buscarPersonaResponse" />
  <xs:element name="editarPersona" type="tns:editarPersona" />
  <xs:element name="editarPersonaResponse" type="tns:editarPersonaResponse" />
  <xs:element name="editarUsuario" type="tns:editarUsuario" />
  <xs:element name="editarUsuarioResponse" type="tns:editarUsuarioResponse" />
  <xs:element name="eliminarPersona" type="tns:eliminarPersona" />
  <xs:element name="eliminarPersonaResponse" type="tns:eliminarPersonaResponse" />
  <xs:element name="eliminarUsuario" type="tns:eliminarUsuario" />
  <xs:element name="eliminarUsuarioResponse" type="tns:eliminarUsuarioResponse" />
  <xs:element name="listarPersonas" type="tns:listarPersonas" />
  <xs:element name="listarPersonasResponse" type="tns:listarPersonasResponse" />
  <xs:element name="listarRoles" type="tns:listarRoles" />
  <xs:element name="listarRolesResponse" type="tns:listarRolesResponse" />
  <xs:element name="listarUsuarios" type="tns:listarUsuarios" />
  <xs:element name="listarUsuariosResponse" type="tns:listarUsuariosResponse" />
  <xs:element name="login" type="tns:login" />
  <xs:element name="loginResponse" type="tns:loginResponse" />
  <xs:element name="registrarFormulario" type="tns:registrarFormulario" />
  <xs:element name="registrarFormularioResponse" type="tns:registrarFormularioResponse" />
  <xs:element name="registrarUser" type="tns:registrarUser" />
  <xs:element name="registrarUserResponse" type="tns:registrarUserResponse" />
  <xs:element name="registrarUsuario" type="tns:registrarUsuario" />
  <xs:element name="registrarUsuarioResponse" type="tns:registrarUsuarioResponse" />
  <xs:complexType name="login">
    <xs:sequence>
      <xs:element minOccurs="0" name="user" type="xs:string" />
      <xs:element minOccurs="0" name="pass" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="loginResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:user" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="user">
    <xs:sequence>
      <xs:element minOccurs="0" name="CONTRASENIA_USUARIO" type="xs:string" />
      <xs:element minOccurs="0" name="EMPRESA_USUARIO" type="xs:string" />
      <xs:element minOccurs="0" name="ID_PERSONA" type="xs:int" />
      <xs:element minOccurs="0" name="ID_TIPOUSUARIO" type="xs:int" />
      <xs:element minOccurs="0" name="ID_USUARIO" type="xs:int" />
      <xs:element minOccurs="0" name="persona" type="tns:persona" />
      <xs:element minOccurs="0" name="SALT_USUARIO" type="xs:int" />
      <xs:element minOccurs="0" name="tipoUsuario" type="tns:tipoUsuario" />
      <xs:element minOccurs="0" name="USUARIO_USUARIO" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="persona">
    <xs:sequence>
      <xs:element minOccurs="0" name="CARGO_PERSONA" type="xs:string" />
      <xs:element minOccurs="0" name="CEDULA_PERSONA" type="xs:string" />
      <xs:element minOccurs="0" name="CORREO_PERSONA" type="xs:string" />
      <xs:element minOccurs="0" name="EMPRESA_PERSONA" type="xs:string" />
      <xs:element minOccurs="0" name="FOTO_PERSONA" type="xs:string" />
      <xs:element minOccurs="0" name="ID_PERSONA" type="xs:int" />
      <xs:element minOccurs="0" name="PAPELLIDO_PERSONA" type="xs:string" />
      <xs:element minOccurs="0" name="PNOMBRE_PERSONA" type="xs:string" />
      <xs:element minOccurs="0" name="PROFESION_PERSONA" type="xs:string" />
      <xs:element minOccurs="0" name="SAPELLIDO_PERSONA" type="xs:string" />
      <xs:element minOccurs="0" name="SNOMBRE_PERSONA" type="xs:string" />
      <xs:element minOccurs="0" name="TELEFONO_PERSONA" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tipoUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID_TIPOUSUARIO" type="xs:int" />
      <xs:element minOccurs="0" name="NIVEL_TIPOUSUARIO" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Validar">
    <xs:sequence>
      <xs:element minOccurs="0" name="dni" type="xs:string" />
      <xs:element minOccurs="0" name="pass" type="xs:string" />
      <xs:element minOccurs="0" name="privilegio" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ValidarResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:empleado" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="empleado">
    <xs:sequence>
      <xs:element minOccurs="0" name="apellidos" type="xs:string" />
      <xs:element minOccurs="0" name="contraseña" type="xs:string" />
      <xs:element minOccurs="0" name="dni" type="xs:string" />
      <xs:element minOccurs="0" name="nombres" type="xs:string" />
      <xs:element minOccurs="0" name="privilegio" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="usuario" type="tns:user" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarUsuarioResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="registrarUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="user" type="tns:user" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="registrarUserResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="registrarUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="usuario" type="tns:user" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="registrarUsuarioResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="registrarFormulario">
    <xs:sequence>
      <xs:element minOccurs="0" name="form" type="tns:formulario" />
      <xs:element minOccurs="0" name="user" type="tns:user" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="formulario">
    <xs:sequence>
      <xs:element minOccurs="0" name="caracterizacionC_F" type="tns:caracterizacionCF" />
      <xs:element minOccurs="0" name="caracterizacionL_F" type="tns:caracterizacionLF" />
      <xs:element minOccurs="0" name="codigo_F" type="xs:int" />
      <xs:element minOccurs="0" name="economica_F" type="tns:economicaF" />
      <xs:element minOccurs="0" name="elementosC_F" type="tns:elementosCF" />
      <xs:element minOccurs="0" name="estado_F" type="xs:int" />
      <xs:element minOccurs="0" name="graficosP_F" type="tns:graficosPF" />
      <xs:element minOccurs="0" name="idFormulario" type="xs:int" />
      <xs:element minOccurs="0" name="idUsuario_F" type="xs:int" />
      <xs:element minOccurs="0" name="identificacionL_F" type="tns:identificacionLF" />
      <xs:element minOccurs="0" name="identificacionU_F" type="tns:identificacionUF" />
      <xs:element minOccurs="0" name="limites_F" type="tns:limitesF" />
      <xs:element minOccurs="0" name="mapa_F" type="tns:mapaF" />
      <xs:element minOccurs="0" name="mejora_F" type="tns:mejoraF" />
      <xs:element minOccurs="0" name="responsables_F" type="tns:responsablesF" />
      <xs:element minOccurs="0" name="vivienda_F" type="tns:viviendaF" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="caracterizacionCF">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="caracterizacionLF">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="economicaF">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="elementosCF">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="graficosPF">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="identificacionLF">
    <xs:sequence>
      <xs:element minOccurs="0" name="FORMAADQUISICION" type="xs:string" />
      <xs:element minOccurs="0" name="ID_COP_ILLOTE" type="xs:int" />
      <xs:element minOccurs="0" name="ID_DIR_ILLOTE" type="xs:int" />
      <xs:element minOccurs="0" name="ID_DOC_ILLOTE" type="xs:int" />
      <xs:element minOccurs="0" name="ID_ILLOTE" type="xs:int" />
      <xs:element minOccurs="0" name="ID_PRE_ILLOTE" type="xs:int" />
      <xs:element minOccurs="0" name="ID_PRO" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="identificacionUF">
    <xs:sequence>
      <xs:element minOccurs="0" name="CLAVECATASTRALANTIGUO_IULOTE" type="xs:string" />
      <xs:element minOccurs="0" name="CLAVECATASTRALNUEVO_IULOTE" type="xs:string" />
      <xs:element minOccurs="0" name="ID_DDPLOTE" type="xs:int" />
      <xs:element minOccurs="0" name="ID_IULOTE" type="xs:int" />
      <xs:element minOccurs="0" name="NUMEROPREDIO_IULOTE" type="xs:string" />
      <xs:element minOccurs="0" name="dDescriptivosPredio_IULote" type="tns:dDescriptivosPredioIULote" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="dDescriptivosPredioIULote">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID_DDPLOTE" type="xs:int" />
      <xs:element minOccurs="0" name="ID_DLOTE" type="xs:int" />
      <xs:element minOccurs="0" name="NOMBREEDIFICIO_DDPLOTE" type="xs:string" />
      <xs:element minOccurs="0" name="NOMBRESECTOR_DDPLOTE" type="xs:string" />
      <xs:element minOccurs="0" name="REGIMENTENECIA_DDPLOTE" type="xs:string" />
      <xs:element minOccurs="0" name="TIPOPREDIO_DDPLOTE" type="xs:string" />
      <xs:element minOccurs="0" name="USOPREDIO_DDPLOTE" type="xs:string" />
      <xs:element minOccurs="0" name="dDPLote" type="tns:direccionDDPLote" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="direccionDDPLote">
    <xs:sequence>
      <xs:element minOccurs="0" name="CALLEP_DLOTE" type="xs:string" />
      <xs:element minOccurs="0" name="ID_DLOTE" type="xs:int" />
      <xs:element minOccurs="0" name="INTERSECCION_DLOTE" type="xs:string" />
      <xs:element minOccurs="0" name="NO_DLOTE" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="limitesF">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="mapaF">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="mejoraF">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="responsablesF">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="viviendaF">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="registrarFormularioResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="buscarPersona">
    <xs:sequence>
      <xs:element name="iduser" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="buscarPersonaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:user" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="editarUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="usuario" type="tns:user" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="editarUsuarioResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarUsuarios">
    <xs:sequence>
      <xs:element name="iduser" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarUsuariosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:user" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarPersonas">
    <xs:sequence>
      <xs:element name="iduser" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarPersonasResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:persona" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Registrar">
    <xs:sequence>
      <xs:element minOccurs="0" name="dni" type="xs:string" />
      <xs:element minOccurs="0" name="pass" type="xs:string" />
      <xs:element minOccurs="0" name="apellidos" type="xs:string" />
      <xs:element minOccurs="0" name="nombres" type="xs:string" />
      <xs:element minOccurs="0" name="privilegio" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RegistrarResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="editarPersona">
    <xs:sequence>
      <xs:element minOccurs="0" name="persona" type="tns:persona" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="editarPersonaResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarRoles">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarRolesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:tipoUsuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarPersona">
    <xs:sequence>
      <xs:element minOccurs="0" name="persona" type="tns:persona" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarPersonaResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>