Desgo_Xamarin/Desgo_Xamarin/Desgo_Xamarin.iOS/Web References/AmazonDesgoWebServiceForm/WSGestionFormulario.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://servicios.desgo.com.ec/" targetNamespace="http://servicios.desgo.com.ec/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="addEconomia" type="tns:addEconomia" />
  <xs:element name="addEconomiaResponse" type="tns:addEconomiaResponse" />
  <xs:element name="hello" type="tns:hello" />
  <xs:element name="helloResponse" type="tns:helloResponse" />
  <xs:element name="testerAcabados" type="tns:testerAcabados" />
  <xs:element name="testerAcabadosResponse" type="tns:testerAcabadosResponse" />
  <xs:complexType name="addEconomia">
    <xs:sequence>
      <xs:element minOccurs="0" name="economia" type="tns:economiaLote" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="economiaLote">
    <xs:sequence>
      <xs:element name="AVALUOCON_ELOTE" type="xs:float" />
      <xs:element name="AVALUOTIERRA_ELOTE" type="xs:float" />
      <xs:element name="AVALUOTOTAL_ELOTE" type="xs:float" />
      <xs:element minOccurs="0" name="ID_ELOTE" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="addEconomiaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="hello">
    <xs:sequence>
      <xs:element minOccurs="0" name="name" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="helloResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="testerAcabados">
    <xs:sequence>
      <xs:element minOccurs="0" name="tipo" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="testerAcabadosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:acabadosEC" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="acabadosEC">
    <xs:sequence>
      <xs:element minOccurs="0" name="ELRMINACIONEXCRETAS_AC" type="xs:string" />
      <xs:element minOccurs="0" name="ENERGIAELECTRICAP_AC" type="xs:string" />
      <xs:element minOccurs="0" name="ID_AC" type="xs:int" />
      <xs:element minOccurs="0" name="PISO_AC" type="xs:string" />
      <xs:element minOccurs="0" name="PUERTAS_AC" type="xs:string" />
      <xs:element minOccurs="0" name="REVESTIMIENTOCUBIERTA_AC" type="xs:string" />
      <xs:element minOccurs="0" name="REVESTIMIENTOPARED_AC" type="xs:string" />
      <xs:element minOccurs="0" name="TIPOACABADO_AC" type="xs:string" />
      <xs:element minOccurs="0" name="TUMBADO_AC" type="xs:string" />
      <xs:element minOccurs="0" name="VENTANA_AC" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>