Desgo_Xamarin/Desgo_Xamarin/Desgo_Xamarin.UWP/Connected Services/AmazonDesgoWebServiceForm/WSGestionFormulario.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://servicios.desgo.com.ec/" targetNamespace="http://servicios.desgo.com.ec/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="addEconomia" type="tns:addEconomia" />
  <xs:element name="addEconomiaResponse" type="tns:addEconomiaResponse" />
  <xs:element name="buscarCodigoFormulario" type="tns:buscarCodigoFormulario" />
  <xs:element name="buscarCodigoFormularioResponse" type="tns:buscarCodigoFormularioResponse" />
  <xs:element name="editarformulario" type="tns:editarformulario" />
  <xs:element name="editarformularioResponse" type="tns:editarformularioResponse" />
  <xs:element name="eliminarFormulario" type="tns:eliminarFormulario" />
  <xs:element name="eliminarFormularioResponse" type="tns:eliminarFormularioResponse" />
  <xs:element name="hello" type="tns:hello" />
  <xs:element name="helloResponse" type="tns:helloResponse" />
  <xs:element name="insertarDDescriptivosPredio_IULote" type="tns:insertarDDescriptivosPredio_IULote" />
  <xs:element name="insertarDDescriptivosPredio_IULoteResponse" type="tns:insertarDDescriptivosPredio_IULoteResponse" />
  <xs:element name="insertarDireccion_DDPLote" type="tns:insertarDireccion_DDPLote" />
  <xs:element name="insertarDireccion_DDPLoteResponse" type="tns:insertarDireccion_DDPLoteResponse" />
  <xs:element name="insertarIdentificacionU_F" type="tns:insertarIdentificacionU_F" />
  <xs:element name="insertarIdentificacionU_FResponse" type="tns:insertarIdentificacionU_FResponse" />
  <xs:element name="listarFormulario" type="tns:listarFormulario" />
  <xs:element name="listarFormularioResponse" type="tns:listarFormularioResponse" />
  <xs:element name="listarFormularios" type="tns:listarFormularios" />
  <xs:element name="listarFormulariosResponse" type="tns:listarFormulariosResponse" />
  <xs:element name="registarFormulario" type="tns:registarFormulario" />
  <xs:element name="registarFormularioResponse" type="tns:registarFormularioResponse" />
  <xs:element name="testerAcabados" type="tns:testerAcabados" />
  <xs:element name="testerAcabadosResponse" type="tns:testerAcabadosResponse" />
  <xs:complexType name="editarformulario">
    <xs:sequence>
      <xs:element minOccurs="0" name="formulario" type="tns:formulario" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="formulario">
    <xs:sequence>
      <xs:element minOccurs="0" name="caracterizacionC_F" type="tns:caracterizacionCF" />
      <xs:element minOccurs="0" name="caracterizacionL_F" type="tns:caracterizacionLF" />
      <xs:element minOccurs="0" name="codigo_F" type="xs:int" />
      <xs:element minOccurs="0" name="economica_F" type="tns:economicaF" />
      <xs:element minOccurs="0" name="elementosC_F" type="tns:elementosCF" />
      <xs:element minOccurs="0" name="estado_F" type="xs:int" />
      <xs:element minOccurs="0" name="graficosP_F" type="tns:graficosPF" />
      <xs:element minOccurs="0" name="idFormulario" type="xs:int" />
      <xs:element minOccurs="0" name="idUsuario_F" type="xs:int" />
      <xs:element minOccurs="0" name="identificacionL_F" type="tns:identificacionLF" />
      <xs:element minOccurs="0" name="identificacionU_F" type="tns:identificacionUF" />
      <xs:element minOccurs="0" name="limites_F" type="tns:limitesF" />
      <xs:element minOccurs="0" name="mapa_F" type="tns:mapaF" />
      <xs:element minOccurs="0" name="mejora_F" type="tns:mejoraF" />
      <xs:element minOccurs="0" name="responsables_F" type="tns:responsablesF" />
      <xs:element minOccurs="0" name="vivienda_F" type="tns:viviendaF" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="caracterizacionCF">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="caracterizacionLF">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="economicaF">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="elementosCF">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="graficosPF">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="identificacionLF">
    <xs:sequence>
      <xs:element minOccurs="0" name="FORMAADQUISICION" type="xs:string" />
      <xs:element minOccurs="0" name="ID_COP_ILLOTE" type="xs:int" />
      <xs:element minOccurs="0" name="ID_DIR_ILLOTE" type="xs:int" />
      <xs:element minOccurs="0" name="ID_DOC_ILLOTE" type="xs:int" />
      <xs:element minOccurs="0" name="ID_ILLOTE" type="xs:int" />
      <xs:element minOccurs="0" name="ID_PRE_ILLOTE" type="xs:int" />
      <xs:element minOccurs="0" name="ID_PRO" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="identificacionUF">
    <xs:sequence>
      <xs:element minOccurs="0" name="CLAVECATASTRALANTIGUO_IULOTE" type="xs:string" />
      <xs:element minOccurs="0" name="CLAVECATASTRALNUEVO_IULOTE" type="xs:string" />
      <xs:element minOccurs="0" name="ID_DDPLOTE" type="xs:int" />
      <xs:element minOccurs="0" name="ID_IULOTE" type="xs:int" />
      <xs:element minOccurs="0" name="NUMEROPREDIO_IULOTE" type="xs:string" />
      <xs:element minOccurs="0" name="dDescriptivosPredio_IULote" type="tns:dDescriptivosPredioIULote" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="dDescriptivosPredioIULote">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID_DDPLOTE" type="xs:int" />
      <xs:element minOccurs="0" name="ID_DLOTE" type="xs:int" />
      <xs:element minOccurs="0" name="NOMBREEDIFICIO_DDPLOTE" type="xs:string" />
      <xs:element minOccurs="0" name="NOMBRESECTOR_DDPLOTE" type="xs:string" />
      <xs:element minOccurs="0" name="REGIMENTENECIA_DDPLOTE" type="xs:string" />
      <xs:element minOccurs="0" name="TIPOPREDIO_DDPLOTE" type="xs:string" />
      <xs:element minOccurs="0" name="USOPREDIO_DDPLOTE" type="xs:string" />
      <xs:element minOccurs="0" name="dDPLote" type="tns:direccionDDPLote" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="direccionDDPLote">
    <xs:sequence>
      <xs:element minOccurs="0" name="CALLEP_DLOTE" type="xs:string" />
      <xs:element minOccurs="0" name="ID_DLOTE" type="xs:int" />
      <xs:element minOccurs="0" name="INTERSECCION_DLOTE" type="xs:string" />
      <xs:element minOccurs="0" name="NO_DLOTE" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="limitesF">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="mapaF">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="mejoraF">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="responsablesF">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="viviendaF">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="editarformularioResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="registarFormulario">
    <xs:sequence>
      <xs:element minOccurs="0" name="us" type="tns:user" />
      <xs:element minOccurs="0" name="form" type="tns:formularioIds" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="user">
    <xs:sequence>
      <xs:element minOccurs="0" name="CONTRASENIA_USUARIO" type="xs:string" />
      <xs:element minOccurs="0" name="EMPRESA_USUARIO" type="xs:string" />
      <xs:element minOccurs="0" name="ID_PERSONA" type="xs:int" />
      <xs:element minOccurs="0" name="ID_TIPOUSUARIO" type="xs:int" />
      <xs:element minOccurs="0" name="ID_USUARIO" type="xs:int" />
      <xs:element minOccurs="0" name="persona" type="tns:persona" />
      <xs:element minOccurs="0" name="SALT_USUARIO" type="xs:int" />
      <xs:element minOccurs="0" name="tipoUsuario" type="tns:tipoUsuario" />
      <xs:element minOccurs="0" name="USUARIO_USUARIO" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="persona">
    <xs:sequence>
      <xs:element minOccurs="0" name="CARGO_PERSONA" type="xs:string" />
      <xs:element minOccurs="0" name="CEDULA_PERSONA" type="xs:string" />
      <xs:element minOccurs="0" name="CORREO_PERSONA" type="xs:string" />
      <xs:element minOccurs="0" name="EMPRESA_PERSONA" type="xs:string" />
      <xs:element minOccurs="0" name="FOTO_PERSONA" type="xs:string" />
      <xs:element minOccurs="0" name="ID_PERSONA" type="xs:int" />
      <xs:element minOccurs="0" name="PAPELLIDO_PERSONA" type="xs:string" />
      <xs:element minOccurs="0" name="PNOMBRE_PERSONA" type="xs:string" />
      <xs:element minOccurs="0" name="PROFESION_PERSONA" type="xs:string" />
      <xs:element minOccurs="0" name="SAPELLIDO_PERSONA" type="xs:string" />
      <xs:element minOccurs="0" name="SNOMBRE_PERSONA" type="xs:string" />
      <xs:element minOccurs="0" name="TELEFONO_PERSONA" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tipoUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID_TIPOUSUARIO" type="xs:int" />
      <xs:element minOccurs="0" name="NIVEL_TIPOUSUARIO" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="formularioIds">
    <xs:sequence>
      <xs:element minOccurs="0" name="caracterizacionC_F" type="xs:int" />
      <xs:element minOccurs="0" name="caracterizacionL_F" type="xs:int" />
      <xs:element minOccurs="0" name="codigo_F" type="xs:int" />
      <xs:element minOccurs="0" name="economica_F" type="xs:int" />
      <xs:element minOccurs="0" name="elementosC_F" type="xs:int" />
      <xs:element minOccurs="0" name="estado_F" type="xs:int" />
      <xs:element minOccurs="0" name="graficosP_F" type="xs:int" />
      <xs:element minOccurs="0" name="idFormulario" type="xs:int" />
      <xs:element minOccurs="0" name="idUsuario_F" type="xs:int" />
      <xs:element minOccurs="0" name="identificacionL_F" type="xs:int" />
      <xs:element minOccurs="0" name="identificacionU_F" type="xs:int" />
      <xs:element minOccurs="0" name="limites_F" type="xs:int" />
      <xs:element minOccurs="0" name="mapa_F" type="xs:int" />
      <xs:element minOccurs="0" name="mejora_F" type="xs:int" />
      <xs:element minOccurs="0" name="responsables_F" type="xs:int" />
      <xs:element minOccurs="0" name="vivienda_F" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="registarFormularioResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarDDescriptivosPredio_IULote">
    <xs:sequence>
      <xs:element minOccurs="0" name="dDescriptivosPredio_IULote" type="tns:dDescriptivosPredioIULote" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarDDescriptivosPredio_IULoteResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="addEconomia">
    <xs:sequence>
      <xs:element minOccurs="0" name="economia" type="tns:economiaLote" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="economiaLote">
    <xs:sequence>
      <xs:element name="AVALUOCON_ELOTE" type="xs:float" />
      <xs:element name="AVALUOTIERRA_ELOTE" type="xs:float" />
      <xs:element name="AVALUOTOTAL_ELOTE" type="xs:float" />
      <xs:element minOccurs="0" name="ID_ELOTE" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="addEconomiaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarIdentificacionU_F">
    <xs:sequence>
      <xs:element minOccurs="0" name="identificacionU_F" type="tns:identificacionUF" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarIdentificacionU_FResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="buscarCodigoFormulario">
    <xs:sequence>
      <xs:element minOccurs="0" name="codigo" type="xs:string" />
      <xs:element minOccurs="0" name="user" type="tns:user" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="buscarCodigoFormularioResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:formularioIds" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarFormulario">
    <xs:sequence>
      <xs:element minOccurs="0" name="codigo" type="xs:string" />
      <xs:element minOccurs="0" name="user" type="tns:user" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarFormularioResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="hello">
    <xs:sequence>
      <xs:element minOccurs="0" name="name" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="helloResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarFormularios">
    <xs:sequence>
      <xs:element minOccurs="0" name="user" type="tns:user" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarFormulariosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:formularioIds" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="testerAcabados">
    <xs:sequence>
      <xs:element minOccurs="0" name="tipo" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="testerAcabadosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:acabadosEC" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="acabadosEC">
    <xs:sequence>
      <xs:element minOccurs="0" name="ELRMINACIONEXCRETAS_AC" type="xs:string" />
      <xs:element minOccurs="0" name="ENERGIAELECTRICAP_AC" type="xs:string" />
      <xs:element minOccurs="0" name="ID_AC" type="xs:int" />
      <xs:element minOccurs="0" name="PISO_AC" type="xs:string" />
      <xs:element minOccurs="0" name="PUERTAS_AC" type="xs:string" />
      <xs:element minOccurs="0" name="REVESTIMIENTOCUBIERTA_AC" type="xs:string" />
      <xs:element minOccurs="0" name="REVESTIMIENTOPARED_AC" type="xs:string" />
      <xs:element minOccurs="0" name="TIPOACABADO_AC" type="xs:string" />
      <xs:element minOccurs="0" name="TUMBADO_AC" type="xs:string" />
      <xs:element minOccurs="0" name="VENTANA_AC" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarFormulario">
    <xs:sequence>
      <xs:element minOccurs="0" name="user" type="tns:user" />
      <xs:element minOccurs="0" name="formularioIds" type="tns:formularioIds" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarFormularioResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:formulario" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarDireccion_DDPLote">
    <xs:sequence>
      <xs:element minOccurs="0" name="direccion_DDPLote" type="tns:direccionDDPLote" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarDireccion_DDPLoteResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>